/* Link-font-family */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: all .2s;
    transition: width none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

:root{
    --dark-red: #591D22;
    --red: #8C1B1B;
    --red-light: #BF2C2C;
    --black: #040407;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

body {
    overflow-x: hidden;
    font-size: 50%;
}

body.overflow{
    overflow: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

button,
i,
input[type='submit'] {
    cursor: pointer;
    transition: .3s;
}

ul {
    list-style: none;
}

header{
    padding: .5rem 2rem;
    background: var(--black);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo img{
    height: 5rem;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* BUTTON-MENU */
.navbar_button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    z-index: 9999;
}

.navbar_button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.6s;
}

#top,
#bottom {
    transform-origin: left;
}

.navbar_button.active #top {
    transform: rotate(38deg);
    transition: 0.6s;
}

.navbar_button.active #center {
    opacity: 0;
    transition: 0.6s;
}

.navbar_button.active #bottom {
    transform: rotate(-38deg);
    transition: 0.6s;
}

.menu-container{
    position: absolute;
    top: 0;
    left: -200%;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.menu-container.active{
    left: 0;
}

.menu-container .menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.menu li a{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.4rem;
    color: #fff;
}

.button-login{
    padding: 1rem 2rem;
    background: var(--red);
    color: #fff;
    border-radius: .3rem;
}

.button-login:hover{
    background-color: var(--dark-red);
}

/* JOGADORES */
.jogador{
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--red);
    padding-top: 3rem;
}

.reverse{
    flex-direction: row-reverse;
    background: var(--black);
}



.principal:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(https://images2.alphacoders.com/985/985370.jpg);
    background-position: center;
    background-size: cover;
    z-index: 1;
    filter: brightness(.4) contrast(1) blur(1px);
}

.img-jogador{
    height: 10rem;
    filter: drop-shadow(0 0 1rem #000);
    z-index: 2;
}

.jogador-container{
    font-size: 2rem;
    padding-left: 2rem;
    z-index: 2;
}


.reverse .jogador-container{
    padding-right: 2rem;
}

.jogador-name{
    text-transform: uppercase;
    color: #fff;
    font-size: 1.3rem;
}

.posicao{
    color: #c7c7c7;
}

.jogador-container p{
    max-width: 300px;
    font-size: .7rem;
    color: #Fff;
}

.saiba-mais{
    background: var(--red-light);
    color: #fff;
    padding: .4rem .8rem;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: .2rem;
    box-shadow: 0 0 1rem #000;
}

.promocao{
    background: var(--black);
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
}

.promocao .copy h1{
    color: #fff;
}
.promocao img{
    width: 8rem;
    filter: drop-shadow(0 0 1rem var(--red));
}

.promocao h1 strong{
    display: block;
    color: var(--red-light);
}

.promocao h2{
    color: #fff;
    font-size: 1.4rem;
    margin-top: 20px;
}

footer{
    padding: 2rem 1rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: var(--black);
    border-top: 3px solid #fff;
    text-align: center;
}





/* MEDIA */

@media only screen and (min-width: 350px) {
    .img-jogador{
        height: 15rem;
    }
}

@media only screen and (min-width: 470px) {
    .jogador-name{
        font-size: 3rem;
    }
    .posicao{
        font-size: 2rem;
        font-weight: 400;
    }
    .saiba-mais{
        font-size: 1.5rem;
        padding: 1rem 2rem;
        margin-top: 20px;
    }
    .jogador-container p{
        font-size: 1rem;
    }

    .promocao .copy h1{
        font-size: 3rem;
    }

    .promocao .copy strong{
        font-size: 4rem;
    }

    .promocao .saiba-mais{
        padding: 1rem 3rem;
    }

    .promocao img{
        width: 20rem;
    }

    .promocao h2{
        font-size: 3rem;
    }
}

@media only screen and (min-width: 990px) {
    .header{
        padding: 1rem 3rem;
    }
   
    .navbar_button{
        display: none;
    }

    .menu-container{
        position: static;
        height: max-content;
        width: max-content;
        background: none;
    }

    .menu-container .menu{
        flex-direction: row;
        align-items: center;
    }
    .menu-container .menu li a{
        font-size: 1rem;
    }

    .jogador{
        justify-content: space-evenly;
    }

    .img-jogador{
        height: 500px;
    }
}